* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

html, body, p {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: darkslategray;
  color: white;
}

main {
  margin: auto;
  width: 80%;
  padding: 20px;
}

main > h1 {
  font-size: 3.5em;
  margin:0;
}

main > h2 {
  font-size: 1.5em;
}

#instructions {
  font-size: 1.5em;
}

#code {
  font-size: 3.0em;
  margin-bottom: 15px;
}

button {
  
    height: 30px;
    width: 100%;
    max-width: 290px;
    border-radius: 7px;
    background: lightblue;
    font-weight: bold;
    border: 0;
}

#creator {
  font-size: 15px;
  font-style: italic;
  margin-top: 15px;
}